In [1]:
import pandas as pd
import statsapi
import string

In [2]:
player_id=[]
alphabet=list(string.ascii_lowercase)
try:
    for letter in alphabet:    
        for player in statsapi.lookup_player( letter, season="2018"):
            p_id=player["id"]
            player_id.append(p_id)
except KeyError:
    print("error")

In [7]:
player_list=pd.DataFrame(player_id, columns=["Player ID"])
player_list.drop_duplicates(inplace=True)
labels=["first_name","last_name","team","hits","avg", "homeruns", "atbats", "obp","stolenbases","rbi"]
for label in labels:
    player_list[label]=""
player_list

,Player ID,first_name,last_name,team,hits,avg,homeruns,atbats,obp,stolenbases,rbi
0,547989,,,,,,,,,,
1,660670,,,,,,,,,,
2,592094,,,,,,,,,,
3,642715,,,,,,,,,,
4,613534,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
1374,605548,,,,,,,,,,
1375,475582,,,,,,,,,,
1376,519455,,,,,,,,,,
1377,450314,,,,,,,,,,
1378,572287,,,,,,,,,,

In [8]:
fail_count=0
for index, row in player_list.iterrows():
    try:
        player_num=row["Player ID"]
        player=statsapi.player_stat_data(player_num, type="yearByYear", group="[hitting]")
        all_stats=player["stats"]
        stats_2018=list(filter(lambda player: player["season"] == "2018", all_stats))[0]["stats"]
        player_list.loc[index,"first_name"]=player["first_name"]
        player_list.loc[index,"last_name"]=player["last_name"]
        player_list.loc[index,"team"]=player["current_team"]
        player_list.loc[index,"hits"]=stats_2018["hits"]
        player_list.loc[index,"avg"]=stats_2018["avg"]
        player_list.loc[index,"homeruns"]=stats_2018["homeRuns"]
        player_list.loc[index,"atbats"]=stats_2018["atBats"]
        player_list.loc[index,"obp"]=stats_2018["obp"]
        player_list.loc[index,"stolenbases"]=stats_2018["stolenBases"]
        player_list.loc[index,"rbi"]=stats_2018["rbi"]
    except IndexError:
        fail_count+=1
print(fail_count)

109

In [9]:
player_list.to_csv("stats.csv",index=False)

In [10]:
player_list

,Player ID,first_name,last_name,team,hits,avg,homeruns,atbats,obp,stolenbases,rbi
0,547989,Jose,Abreu,Chicago White Sox,132,.265,22,499,.325,2,78
1,660670,Ronald,Acuna,Atlanta Braves,127,.293,26,433,.366,16,64
2,592094,Jason,Adam,Chicago Cubs,0,.---,0,0,.---,0,0
3,642715,Willy,Adames,Tampa Bay Rays,80,.278,10,288,.348,6,34
4,613534,Austin,Adams,San Diego Padres,0,.---,0,0,.---,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1374,605548,Bradley,Zimmer,Cleveland Indians,24,.226,2,106,.281,4,9
1375,475582,Ryan,Zimmerman,Washington Nationals,76,.264,13,288,.337,1,51
1376,519455,Jordan,Zimmermann,Detroit Tigers,0,.000,0,2,.000,0,0
1377,450314,Ben,Zobrist,Chicago Cubs,139,.305,9,455,.378,3,58
1378,572287,Mike,Zunino,Tampa Bay Rays,75,.201,20,373,.259,0,44